/* Variables */
:root{
  --main-colore:#19c8fa;
  --second-colore:#ffffff;
  --section-padding:100px;
  --main-duration:ease .3s;
  --transparent-color: rgb(15 116 143 / 70%);
  --p-color: #777;
}
/* Global rules */
*{ 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin: auto auto;
}

/* Small (sm ≥ 576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium (md ≥ 768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large (lg ≥ 992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra Large (xl ≥ 1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* XXL (xxl ≥ 1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/* End Global Rules */

/* Strat Compounts */
.main-heading{
  text-align: center;
}
.main-heading h2{
  font-size: 2.5em;
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  margin: 0px auto 50px auto ;
  font-weight: normal;
}
.main-heading h2::before{
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

  width: 70%;
  height: 2px;
  background-color:black;
}

.main-heading h2::after{
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

  width: 14px;
  height: 14px;
  background-color:white;
  border: 2px solid black;
  border-radius: 50%;
}
.main-heading p{
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--p-color , #777);
}
/* End Compounts */

/* Start header */
header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after{
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  position: absolute;
  bottom: 0px;
  left: 15px;
} 
header .logo img{

  height: 40px;
  margin-left: -12px;
}

header nav{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
 
header nav ul{
  display: flex;
}
header nav .toggle-menu{
  color: var(--second-colore , #ffffff);
  display: flex;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}
@media (min-width: 767px){
  header nav .toggle-menu{
    display: none;
  }
}
header nav ul li a{
  display: block;
  color: var(--second-colore , #ffffff);
  font-size: .9em;
  text-transform: capitalize;
  padding: 40px 10px;

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}
@media (max-width: 767px){
  header nav ul{
    display: none;
  }
  header nav .toggle-menu:hover + ul ,header nav .toggle-menu:active  ,  header nav ul:hover , header nav ul:active{ 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 97px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.295);
    width: 100%;
    z-index: 5;
  }
  header nav ul li a{
    padding: 15px;
  }
}

header nav ul li:hover , header nav ul li:active , header nav ul a:hover ,header nav ul a:active, header nav ul .active{
  font-weight: bold;
  border-bottom: 1px solid var(--main-colore , #19c8fa);
  color: var(--main-colore , #19c8fa);
  position: relative;
  z-index: 1;
}
header nav .search {

  border-left: var(--second-colore , #ffffff) 1px solid;
  position: relative;
  min-width: 40px;
  height:30px;
  margin-left: 30px;

}
header nav .search i{
  color: var(--second-colore , #ffffff);
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}

header nav .search i:hover , header nav .search i:active{
  color: var(--main-colore , #19c8fa);
} 

/* End header*/

/* Start langing */
.landing{
  min-height: 100vh;
  background-color: #1f20214f;
  background-image: url(../images/landing.jpg);
  background-size: cover;

  -webkit-background-blend-mode: overlay;
  -moz-background-blend-mode: overlay;
  -o-background-blend-mode: overlay;
  -ms-background-blend-mode: overlay;
  background-blend-mode: overlay;


  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px){
  .landing{
    background-position: center;
    background-attachment: fixed;
  }
}
.landing .text{
  width: 50%;
  background-color: var(--transparent-color , rgb(15 116 143 / 70%));
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px){
  .landing .text{
    width: 100%;
  }
}
.landing .text .content{
  max-width: 500px;
  padding: 30px;
  color: var(--second-colore , #ffffff);
}
@media (max-width: 767px){
  .landing .text .content{
    max-width: 100%;
  }
}
.landing .text .content h2{
  font-size: 1.8em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-transform: capitalize;
    
}
.landing .text .content h2 span{
  color: rgb(88, 12, 27);
  font-weight: 800;
}
.landing .text .content p{
  font-size: .8em;
  line-height: 2;
  margin-bottom: 20px;
}

.landing .right , .landing .left{
  position: absolute;
  top: 50%;

  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);

  color: var(--second-colore , #ffffff);
  cursor: pointer;

}
@media (max-width: 767px){
  .landing .right , .landing .left{
    display: none;
  }
}
.landing .right:hover , .landing .left:hover{
  color: var(--main-colore , #19c8fa);
}
.landing .right{
  right: 30px;
} 
.landing .left{
  left: 30px;
}
.landing .bulits{
  position: absolute;
  bottom: 5px;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .bulits li{
  width: 20px;
  height: 20px;
  border: var(--second-colore , #ffffff) 1px solid;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}
.landing .bulits li.active , .landing .bulits li:hover{
  background-color: var(--main-colore , #19c8fa);
  border-color: var(--main-colore , #19c8fa);
}
/* End landing */

/* Start Services */
.services{
  padding-top: var(--section-padding , 100px);
  padding-bottom: var(--section-padding , 100px);
  background-color: #f7f7f7;
}
.services .services-content{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(430px , 1fr));
  column-gap: 40px;
  row-gap: 80px;
}
.services  .serv-box{
  display: flex;
  justify-content: space-between;
}
.services  .serv-box  .text{
  max-width: 100%;
}
.services  .serv-box i{
  margin-right: 30px;
}

@media(max-width:767px){
  .services .services-content {
    grid-template-columns: 1fr; 
  }
  .services  .serv-box{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services  .serv-box i{
    margin: 0px 0px 30px 0px;
  }
}
.services  .serv-box  .text h3{
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--main-colore , #19c8fa);
}
.services  .serv-box  .text p{
  line-height: 2;
  color: var(--p-color , #777);
}
/* End Services */

/* Start design */
.design{
  padding-top: var(--section-padding , 100px);
  padding-bottom: var(--section-padding , 100px);

  background-color: #1f20214f;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  -webkit-background-blend-mode: overlay;
  -moz-background-blend-mode: overlay;
  -o-background-blend-mode: overlay;
  -ms-background-blend-mode: overlay;
  background-blend-mode: overlay;
  
  height: 600px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design .image{
  text-align: center;
  flex: 1;
}
@media (max-width: 768px){
  .design{
    flex-direction: column-reverse;
    height: auto;
  }
}
.design .image img{
  position: relative;

  bottom:-150px;
}

.design .text{
  flex: 1;
  color: var(--second-colore , #ffffff);
  background-color: var(--transparent-color , rgb(15 116 143 / 70%));
  padding: 50px;
}
@media (max-width: 768px){
  .design .text{
    width: 100%;
  }
}
.design .text h2{
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li{
  padding: 15px 0px;
}
.design .text ul li::before{
  content: "\f108";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  top: 1px;
  margin-right: 20px;

}
/* End design */

/* Start Portfolio */

.portfolio{
  padding-top: var(--section-padding , 100px);
  padding-bottom: var(--section-padding , 100px);
}
.portfolio .shuffle{
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li{
  padding: 15px;
  background-color: var(--second-colore , #ffffff);
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}
.portfolio .shuffle li:hover , .portfolio .shuffle li.active{
  background-color: var(--main-colore , #19c8fa);
  color: var(--second-colore , #ffffff);
  border-color: var(--main-colore , #19c8fa);
}
.portfolio .portfolio-container{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(350px , 1fr));
  column-gap: 10px;
  row-gap: 20px;
  padding-left:10px ;
  padding-right: 10px;
}
.portfolio .portfolio-container .box{
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.portfolio .portfolio-container .box img{
  max-width: 100%;

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}
.portfolio .portfolio-container .box:hover img{
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  transform: rotate(3deg) scale(1.1);
}
.portfolio .portfolio-container .box .text{
  position: absolute;
  bottom:-100px;
  left: 0px;
  width: 100%;
  background-color:var(--second-colore , #ffffff);
  padding: 10px;

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}
.portfolio .portfolio-container .box:hover .text{
  bottom: 0px;
}
.portfolio .portfolio-container .box .text h3{
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 500;
}
.portfolio .portfolio-container .box .text p{
  text-transform: capitalize;
  color: var(--main-colore , #19c8fa);

}
.portfolio .more{
  display: block;
  width: fit-content;
  border-radius: 5px;
  margin: 50px auto 0px auto;
  text-align: center;
  padding: 15px 20px;
  background-color: var(--main-colore , #19c8fa);
  color: var(--second-colore , #ffffff);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}
.portfolio .more:hover{
  background-color: var(--second-colore , #ffffff);
  color: var(--main-colore , #19c8fa);
  border: var(--main-colore , #19c8fa) 1px solid;
}

/* End Portfolio */

/* Start video  */
.video{
  position: relative;
}
.video .overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color:  rgba(0 0 0 / 20%);
  z-index: 1;
}
.video video{
  width: 100%;

  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
}

.video .text{
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  padding: 50px;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  z-index: 2;
  text-align: center;
  color: var(--second-colore , #ffffff);
  background-color: var(--transparent-color , rgb(15 116 143 / 70%));
}
.video .text h3{
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p{
  margin-bottom: 20px;
}
.video .text button{
  background-color: black;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  color: var(--second-colore , #ffffff);
  
}
/* End video  */

/* Start about */
.about{
  padding-top: var(--section-padding , 100px);
  background-color: #f7f7f7;
  overflow: hidden;
  text-align: center;
}
.about img{
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}
@media (max-width: 767px){
  .about img{
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End about */

/* Start Stac */

.stac{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  background-image: url(../images/stats.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  -webkit-background-blend-mode: overlay;
  -moz-background-blend-mode: overlay;
  -o-background-blend-mode: overlay;
  -ms-background-blend-mode: overlay;
  background-blend-mode: overlay;
}
.stac .container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.stac .container .box{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--second-colore , #ffffff);
  background-color: var(--transparent-color , rgb(15 116 143 / 70%));
  padding: 50px;
  text-align: center;
}
@media (max-width: 767px) {
    .stac .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stac .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stac .container .box {
        flex-basis: 25%;
    }
}
.stac .container .box i{
  background-color: black;
  background: url("../images/blob.svg") no-repeat center/contain;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 1.2em;
}
.stac .container .box .text h3{
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: bold;
}
.stac .container .box .text p{
  font-size: .9em;
}

/* End Stac */

/* Start Skills */
.our-skill{
  padding-top: var(--section-padding , 100px);
  padding-bottom: var(--section-padding , 100px);
}
.our-skill .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-skill .container > div {
  margin-bottom: 80px;
}
@media (min-width: 992px) {
  .our-skill .container > div{
    flex-basis: 45%;
  }
}

.our-skill .container > div > h3 {
  margin: 0px 0px 30px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}
.our-skill .container > div > p {
  line-height: 2;
  color: var(--p-color , #777);
  margin-bottom: 60px;
  text-align: justify;
}

.our-skill .container .testimonials .card{
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
.our-skill .container .testimonials .card img{
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px){
  .our-skill .container .testimonials .card{
    flex-direction: column;
  }
  .our-skill .container .testimonials .card img{
    margin: 0px auto 20px ;
  }
}
.our-skill .container .testimonials .card .text{
  border-bottom: 1px solid #ccc;
  line-height: 1.8;
}

.our-skill .container .testimonials .card .text p{
  text-align: right;
  color: var(--p-color , #777);
  font-size: .9em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.our-skill .container .bulits{
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-skill .container .bulits li{
  width: 20px;
  height: 20px;
  border: var(--p-color , #777) 1px solid;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}
.our-skill .container .bulits .active , .our-skill .container .bulits li:hover{
  background-color: var(--main-colore , #19c8fa);
  border-color: var(--main-colore , #19c8fa);
}

.our-skill .container .skills .prog-holder{
  margin-bottom: 50px;
}
.our-skill .container .skills .prog-holder .prog{
  background-color: #dedadc;
  height: 30px;
  width: 100%;
}
.our-skill .skills .prog-holder  h4{
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: normal;
}
.our-skill .container .skills .prog-holder span{
  background-color: var(--main-colore , #19c8fa);
  display: block;
  height: 100%;
  position: relative;
}
.our-skill .container .skills .prog-holder span::before{
  content: attr(data-progress);
  position: absolute;
  top: -40px;
  right: -19px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.our-skill .container .skills .prog-holder span::after{
  content: "";
  position: absolute;
  top: -12px;
  right: -7px;
  border-color: black transparent transparent transparent;
  border-width: 8px;
  border-style: solid;
}
/* End Skills */

/* Start qoute */
.quote{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url('../images/quote.jpg');
  background-size: cover;
  background-color: rgb(0 0 0 / 75%);

  -webkit-background-blend-mode: overlay;
  -moz-background-blend-mode: overlay;
  -o-background-blend-mode: overlay;
  -ms-background-blend-mode: overlay;
  background-blend-mode: overlay;

  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;

  color: white;
  text-align: center;
}
.quote q{
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}
/* End quote */

/* Start pricing */
.pricing{
  padding-top: var(--section-padding , 100px);
  padding-bottom:  var(--section-padding , 100px);
}
.pricing .price-content{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
  gap: 30px;
  text-align: center;
}
.pricing .price-content .card{
  margin-bottom: 50px;
}
.pricing .price-content .card .price-head{
  border-top: 1px solid var(--main-colore , #19c8fa);
  border-bottom: 1px solid var(--main-colore  , #19c8fa);
  padding: 40px 20px;
}
.pricing .price-content .card .price-head h4{
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}
.pricing .price-content .card .price-head h3{
  font-size: 3rem;
}
.pricing .price-content .card .price-head sub , .pricing .price-content .card .price-head  sup{
  font-size: 1.5rem;
  font-weight: 700;
}
.pricing .price-content .card .price-body{
  border-bottom: 1px solid var(--main-colore  , #19c8fa);
}
.pricing .price-content .card .price-body li{
  padding: 20px;
  text-transform: capitalize;
  position: relative;
}
.pricing .price-content .card .price-body  li:not(li:last-child)::after{
  content: "";
  width: 50%;
  height: 1px;
  background-color: var(--main-colore , #19c8fa );
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform: translateX(-50%);
}
.pricing .price-content .card > a {
  display: block;
  padding: 20px;
  margin: 30px auto ;
  border: 1px solid var(--main-colore , #19c8fa);
  width: fit-content;

  -webkit-transition: var(--main-duration , ease 0.3s);
  -moz-transition: var(--main-duration , ease 0.3s);
  -o-transition: var(--main-duration , ease 0.3s);
  -ms-transition: var(--main-duration , ease 0.3s);
  transition: var(--main-duration , ease 0.3s);

  text-transform: capitalize;
}

.pricing .price-content .card > a:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);

  background-color: var(--main-colore , #19c8fa);
  color: var(--second-colore , #ffffff);
  border-radius: 5px;
}
.pricing .container > p{
  text-align: center;
  font-size: 1.3rem;
}
.pricing .container > a{
  background-color: var(--main-colore , #19c8fa);
  color: var(--second-colore , #ffffff);
  border-radius: 5px;
  display: block;
  padding: 20px 30px;
  margin: 30px auto ;
  border: 1px solid var(--main-colore , #19c8fa);
  width: fit-content;

  -webkit-transition: var(--main-duration , ease 0.3s);
  -moz-transition: var(--main-duration , ease 0.3s);
  -o-transition: var(--main-duration , ease 0.3s);
  -ms-transition: var(--main-duration , ease 0.3s);
  transition: var(--main-duration , ease 0.3s);
}

/* End pricing */

/* Start subscribe */
.subscribe{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url('../images/subscribe.jpg');
  background-size: cover;
  background-color: rgb(0 0 0 / 75%);

  -webkit-background-blend-mode: overlay;
  -moz-background-blend-mode: overlay;
  -o-background-blend-mode: overlay;
  -ms-background-blend-mode: overlay;
  background-blend-mode: overlay;

  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;

  color: var(--second-colore , #ffffff);
  
}

.subscribe .container > p{
  margin-top: 30px;
}

.subscribe .container form{
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
  margin: 0px auto;
}

@media (min-width: 992px){
  .subscribe .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe .container > p {
  flex-basis: 55%;
  margin-top: 0px;
}
.subscribe .container > form{
  flex-basis: 40%;
}
}

.subscribe .container form input[type="email"]{
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  width: calc(100% - 130px);
  color: var(--second-colore , #ffffff);
  outline: none;
  position: relative;
}
.subscribe .container form i{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 5;
}
.subscribe .container form input[type="email"]::placeholder{
  color: var(--second-colore , #ffffff);
}
.subscribe .container form input[type="submit"]{
  width: 130px;
  background-color: var(--main-colore , #19c8fa);
  color: white;
  padding: 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  cursor: pointer;
}
/* End subscribe */

/* Start contact */
.contact{
  padding-top: var(--section-padding , 100px);
  padding-bottom: var((--section-padding , 100px));
}
.contact .contact-content{
  text-align: center;
}
@media (min-width:768px){
  .contact .contact-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
}
.contact .contact-content form{
  flex-basis: 60%;
}
.contact .contact-content .info{
  flex-basis: 35%;
}


}
.contact .contact-content .info h4{
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .contact-content .info h4:nth-of-type(2){
  margin-top: 90px;
}
.contact .contact-content .info .phone{
  display: block;
  color: var(--p-color , #777);
  margin-bottom: 10px;
}
.contact .contact-content .info  address{
  color: var(--p-color , #777);
  text-transform: capitalize;
  line-height: 2;
}

.contact .contact-content form input , .contact .contact-content form textarea{
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
}

.contact .contact-content form textarea{
  height: 200px;
}
.contact .contact-content form input[type="submit"]{
  background-color: var(--main-colore , #19c8fa);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
}
@media (min-width:768px){
  .contact .contact-content form input[type="submit"]{
    margin-right: 0px;
  }
}
/* End contact */

/* Start Footer */
footer{
  padding-top: var(--section-padding , 100px);
  padding-bottom: var(--section-padding , 100px);
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;

  background-blend-mode: overlay;
}

footer .container{
  text-align: center;
  color: var(--second-colore , #ffffff);
}
footer .container img{
  margin-bottom: 30px;
}
footer .container p:first-of-type {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 20px;
  border-bottom: 1px solid var(--second-colore , #ffffff);
  width: fit-content;
  margin: 10px auto 20px;
}
footer .container .social-media ul{
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}
footer .container .social-media ul li a{
  color: var(--second-colore , #ffffff);
  font-size: 1.2rem;

  -webkit-transition: var(--main-duration , ease .3s);
  -moz-transition: var(--main-duration , ease .3s);
  -o-transition: var(--main-duration , ease .3s);
  -ms-transition: var(--main-duration , ease .3s);
  transition: var(--main-duration , ease .3s);
}
footer .container .social-media ul li a:hover{
  color: var(--main-colore , #19c8fa);
}
footer .container p:last-of-type span{
  color: var(--main-colore , #19c8fa);
  font-weight: 600;
}
/* End footer */


/* Preloader */

#preloader 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* circul */
.loader 
{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}